/*Adattiamo l'header alla home (title sotto subtitle)*/
.cover .icon{
    padding-top: 5%;
}

.subtitle{
    padding-top: 0;
}

/*NUMERI CON DIDASCALIA*/
.numberCards{
    padding: 30px 20px; 
    justify-content: space-between;
    text-align: center;
    margin: auto;

    max-width: 55rem;
}

.numberCard{
    max-width: 30%;
}


/*STRISCIA ROMBO con call to action UNESCO*/

.unescoDiv {
    position: relative;

    display: flex;
    align-items: center;

    min-height: 575px;

    background: url(../img/sfondi/sfondoHome.png);
    background-size: cover;
    background-origin: border-box;
    background-position: center;
}

.unescoDiv .contFlex {
    margin: auto; 
    padding: 20px;
    justify-content: space-between;
    text-align: left;

    max-width: 55rem;
}

.unescoDiv .shadowText {
    max-width: 50%;
}

.unescoDiv .buttonUnesco{
    display: flex;
    align-items: center;
}

/*
.unescoDiv img {
    /*clip-path: polygon(0 0, 0 100%, 100% 70%, 100% 30%);*

    position: absolute;
    top:0;
    z-index: -2;

    max-width: 100%;
    min-height: 575px;
    Object-fit: cover;
} */


/*Striscia con immagine*/

.imageCards {
    padding: 10vh 0;
    text-align: center;
    margin: auto;

    max-width: 55rem;
}

.imageCards .contFlex{
    justify-content: space-between;

    margin-bottom: 5%;
}

.imageCard {
    max-width: 30%;
}

.imageCard img {
    width: 100%;
    border-radius: 50%;

    padding: 20px;
}

