/*importo i font (Comfortaa e Montserrat da google font, ananda da file)*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Montserrat:wght@400;600;700&family=Arizonia&display=swap');

@font-face {
    font-family: Ananda;
    src: url('../font/Ananda.ttf') format('truetype'),
        url('../font/Ananda.woff') format('woff'),
        url('../font/Ananda.woff2') format('woff2');
 }

/*Creo delle classi con cui assegnare la gerachia dei font*/

.title {
    font-family: "Ananda", "Arizonia";
    color: white;
    font-size: 7rem;
    text-align: center;
    padding: 0.2rem;
}

.subtitle {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size:1.5rem;
    text-align: center;

    padding-top: 2rem;
}

.lightEmphasis {
    font-family: 'Comfortaa', cursive;
    color: #31b5bd;
    font-weight: bold;
    font-size: 1.3rem;

    display: block;
    padding: 10px;
}

.darkEmphasis {
    font-family: 'Comfortaa', cursive;
    color: #267075;
    font-weight: bold;
    font-size: 1.3rem;

    display: block;
    padding: 10px;
}

.bold{
    font-weight: bold;
}

/*mini reset generale e impostazioni generali*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: #5d5d5d;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 1rem;
}

/*creo un contenitore e un flex*/
.cont {
    max-width: 100%;
    margin: auto;
    padding: 0;
    align-items: center;
}

.contFlex{
    display: flex;
    align-items: center;
}

/*Impostazioni generali per i due diversi tipi di button*/
.button{
   -webkit-appearance: button;
   -moz-appearance:    button;
   appearance: button;

    width: 180px;
    padding: 14px 0;

    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    
    border: 2px solid;
    border-radius: 12px;
    
    background-color: rgba(0,0,0,0);
    transition-duration: 0.4s;

    display: inline-block;
}

.lightButton{
    border-color: #31b5bd;
    color: #31b5bd;

}

.darkButton{
    border-color: #267075;
    color: #267075;
}

.lightButton:hover{
    background-color: #31b5bd;
    color: white;
    cursor: pointer;
}

.darkButton:hover{
    background-color: #267075;
    color: #fad99e;
    cursor: pointer;
}

/* MENU */
header {

    position: sticky;
    top: 0;
    z-index: 20;

    background-color: white;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);


}

.menu {
    margin: auto;
    padding: 0 20px;

    vertical-align: middle;
    justify-content: space-between;

    max-width: 55em;

}

.logoDiv img {
    max-width: 4rem;
    padding: 0.4rem;
    height: auto;
}

.menuElements, .menu ul, .menu a {
    margin: 0px;
    padding: 0px;
    border: none;

}

.menuElements{
    float: right;
}

.menuElements li{
    list-style-type: none;
    float: left;
    position: relative;

    padding: 5px 20px;

    font-weight: 700;
    font-size: 0.8rem; 
}

.menuElements li a{
    display: block;

}

.menuElement:hover, .menuElements .active{
    color: #267075;
}


/*Menù a dropdown*/
.dropdown{
    position: absolute;
    background-color: white;
    opacity: 0;
    transition: all 0.3s ease;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);

    width: 9rem;
}

.menu li:hover > ul {
    opacity: 1;
}

.dropdown li {
    height: 0;
    padding: 0;
    overflow: hidden;
}

.menu li:hover > ul li {
    overflow: visible;
    height: auto;
}

.dropdown li a{
    width: 180px;
    padding: 0.5rem 15px 0;
    margin: 5px 0px;

}


/*COPERTINE DELLE pages*/
 .cover {
     background: url(../img/copertine/copertinaHome.jpg);
     background-size: cover;
     background-origin: border-box;
     background-position: center;
 }
 
 .cover .text{
     position: relative;
     text-align: center;
 
     padding: 20vh 0;
     height: 85vh;
 }
 
 .cover .icon{
     padding-top: 5%;
     z-index: inherit;
 
     font-size: 3rem;
     
     color: rgba(255, 255, 255, 0.75);
 }


 /*FOOTER*/

 footer{
     background-color: #fad99e;
     font-size: 0.75rem;
}

.fooTitle {
    font-weight: 900;
    font-size: larger;
}

.fooCards {
    padding: 20px 20px;
    margin: auto;

    max-width: 55rem;

    align-items: flex-start;
}

.fooCard {
    text-align: center;
    padding: 20px;

    max-width: 25%;

    box-sizing: border-box;

    border-left: 1.5px solid #5d5d5d99;

}

.fooCards .first{
    border-left: none;
}

.fooCaption {
    padding-top: 5px;
}

.fooTitle {
    padding-bottom: 5px;
}

.fooIcon{
    font-size: 2em;
    display: block;
    padding: 2px;
    padding-top: 8px;
}

footer .fab:hover, footer .fas:hover{
    transform: scale(1.2,1.2);
    transition-duration: 0.2ms;
}

/*Altro*/

.shadowText {
    box-shadow: 0 0 50px 50px rgba(250, 217, 158, 70%);
    -webkit-box-shadow: 0 0 50px 50px rgba(250, 217, 158, 70%);
    -moz-box-shadow: 0 0 50px 50px rgba(250, 217, 158, 70%);

    background-color: rgb(250, 217, 158); /*fallback color*/
    background-color: rgba(250, 217, 158, 70%);
}

.number {
    font-size: 6rem;
    font-weight: 900;
    color: #31b5bd;
    display: block;
}