
/*NUMERI CON DIDASCALIA*/
.schedeNumeri{
    padding: 5% 20%; 
    justify-content: space-between;
    text-align: center;
}

.schedaNumero{
    max-width: 30%;
}

.numero {
    font-size: 6rem;
    font-weight: 900;
    color: #31b5bd;
    display: block;
}

/*STRISCIA ROMBO con call to action UNESCO*/

.sitoUnesco {
    position: relative;

    display: flex;
    align-items: center;

    height: 70vh;
}

.sitoUnesco .contFlex {
    margin: 0 20%; /*25vh*/
    justify-content: space-between;
    text-align: left;

}

.sitoUnesco .testo {
    max-width: 50%;
}

.sitoUnesco .bottoneUnesco{
    display: flex;
    align-items: center;
}

.sitoUnesco img {
    /*clip-path: polygon(0 0, 0 100%, 100% 70%, 100% 30%);*/

    position: absolute;
    top:0;
    z-index: -2;

    max-width: 100X;
    min-height: 70vh;
    Object-fit: cover;
}

.sitoUnesco .testo {
    box-shadow: 0 0 20px 20px rgba(250, 217, 158, 60%);
    -webkit-box-shadow: 0 0 20px 20px rgba(250, 217, 158, 60%);
    -moz-box-shadow: 0 0 20px 20px rgba(250, 217, 158, 60%);

    background-color: rgba(250, 217, 158, 60%);
}

