/*importo i font (Comfortaa e Montserrat da google font, ananda da file)*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&family=Montserrat:wght@400;600&family=Arizonia&display=swap');

@font-face {
    font-family: 'Ananda';
    src: 
        url('/font/Ananda.ttf') format('truetype'),
        url('/font/Ananda.woff2') format('woff2'),
        url('/font/Ananda.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/*Creo delle classi con cui assegnare la gerachia dei font*/

.titolo {
    font-family: "Ananda", "Arizonia";
    color: white;
    font-size: 7rem;
    text-align: center;
    padding: 0.2rem;
}

.sottotitolo {
    font-family: 'Comfortaa', cursive;
    color: white;
    font-size:1.5rem;
    text-align: center;
}

.evidenzaChiaro {
    font-family: 'Comfortaa', cursive;
    color: #31b5bd;
    font-weight: bold;
    font-size: 1.3rem;

    display: block;
    padding: 10px;
}

.evidenzaScuro {
    font-family: 'Comfortaa', cursive;
    color: #267075;
    font-weight: bold;
    font-size: 1.3rem;

    display: block;
    padding: 10px;
}

/*mini reset generale e impostazioni generali*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat";
    color: #5d5d5d;
}

a{
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-weight: inherit;
}

html {
    scroll-behavior: smooth;
    font-size: 16px;
}

/*creo un contenitore e un flex*/
.cont {
    max-width: 100%;
    margin: auto;
    padding: 0;
    align-items: center;
}

.contFlex{
    display: flex;
}

/*Impostazioni generali per i due diversi tipi di button*/
.bottone{
   -webkit-appearance: button;
   -moz-appearance:    button;
   appearance: button;

    width: 180px;
    height: 50px;

    font-weight: bold;
    font-size: 0.9rem;
    text-align: center;
    
    border: 2px solid;
    border-radius: 12px;
    
    background-color: rgba(0,0,0,0);
    transition-duration: 0.4s;
}

.bottoneChiaro{
    border-color: #31b5bd;
    color: #31b5bd;

}

.bottoneScuro{
    border-color: #267075;
    color: #267075;
}

.bottoneChiaro:hover{
    background-color: #31b5bd;
    color: white;
    cursor: pointer;
}

.bottoneScuro:hover{
    background-color: #267075;
    color: white;
    cursor: pointer;
}

/* MENU */
header {
    position: sticky;
    top: 0;
    z-index: 20;

}

.menu {
    margin: 0;
    padding: 0 20%;

    background-color: white;
    vertical-align: middle;
    justify-content: space-between;


}

.logoDiv img {
    max-width: 4rem;
    padding: 0.4rem;
}

.menuElementi{
    margin: 15px 30px;

    float: right;
    vertical-align: middle;
}

.menuElemento{
    padding: 30px;
    display: inline-block;
    padding: 5px 20px;

    font-weight: 700;
    font-size: 12px !important; 

}

.menuElemento:hover, .menuElementi .active{
    color: #267075;

}

.tendina{
    visibility: hidden;
    opacity: 0;
    position: absolute;
    transition: all 0.5s ease;
    margin-top: 0;
    display: none;
    box-shadow: 0px 2px 4px 0px rgba(0,0,0,0.2);
    background-color: white;
}


ul li:hover > ul,
ul li ul:hover, li:focus-within {
  visibility: visible;
  opacity: 1;
  display: block;

  max-width: 140px;
}

ul li ul li {
  clear: both;
  width: 100%;
}


/*COPERTINE DELLE PAGINE*/
.copertina img {
     position: absolute;
     top: 0;
 
     z-index: -2;
     min-height: 85vh;
     Object-fit: cover;
     
 }
 
 .copertina .testi{
     position: relative;
     text-align: center;
 
     padding: 20vh 0;
 }
 
 .copertina .icon{
     padding-top: 6rem;
     z-index: inherit;
 
     font-size: 3rem;
     
     color: rgba(255, 255, 255, 0.75);
 }