/*aggiorno l'immagine di copertina delle meraviglie*/
.copertina {
    background: url(../immagini/copertine/copertinaPatrimonio.jpg);
    background-size: cover;
    background-origin: border-box;
    background-position: center;
}

/*scheda del paese*/
#contCountry {
    max-width: 100%;
    margin: 100px 0;
    
    background: url(../immagini/sfondi/sfondoPaese.jpg);
    background-size: cover;
    background-origin: border-box;
    background-position: center;
        
    text-align: center;
    vertical-align: middle;
    align-content: center;
    align-items: center;
}

#country{
    max-width: 30rem;
    margin: auto;
    padding: 5rem 0 9rem;
}

.countryTitle{
    font-size: 3rem;
    padding-bottom: 2rem;
    color: #267075;
}

/*Introduzione con descrizione del patrimonio*/
#descrizionePatrimonio{
    max-width: 55rem;
    margin: auto;

    padding: 5rem 1rem 0;
    text-align: center;
    position: relative;
}

#descrizionePatrimonio img{
    height: 40vh;
    padding: 1rem 0;
}

#descrizionePatrimonio p{
    padding: 1rem;
}

#descrizionePatrimonio:before {
    content: "";
    background-color: #fad99e;
    width: 8rem;
    height: 10rem;

    position: absolute;
    bottom: 2rem;
    right: -1rem;

    z-index: -2;
}


#descrizionePatrimonio:after {
    content: "";
    background-color: #31b5bd;
    width: 6rem;
    height: 4rem;

    position: absolute;
    top: 4rem;
    left: 0;

    z-index: -2;
}

/*SCHEDA TECNICA*/
#techSheet {
    max-width: 55rem;
    text-align: center;
    margin: auto;
}

#techSheet img{
    max-width: 47.5%;
    padding: 0.5rem;
}

#techSheet p, #techSheet .contFlex{
    padding: 1rem;
}

#techSheet  .contFlex  div {
    text-align: center;
}

#techSheet .contFlex {
    padding: 15px;
    justify-content: space-around;
    align-items: flex-start;

    
}

#techSheet .numero{
    font-size: 4.5rem;
}

#techSheet .item{
    padding: 10px;
    max-width: 175px;
}

#techSheet i{
    color: #31b5bd;
    font-size: 4rem;
}


#techSheet td, th {
    padding: 0.375rem 20px;
    border-bottom: 1px solid gray;
    border-collapse: collapse;
}

#techSheet table{
    border-collapse: collapse;
    margin: 3rem;
}

/*TIMELINE*/
.timeline {
  max-width: 75rem;
  padding: 30px 15px;
  margin-bottom: 3rem;
  position: relative;
  margin: auto;

  text-align: center;
}


/*Singoli item*/
.entry {
    clear: both;
    position: relative;
}

.entry .body {
    padding: 0.7em 0 0.5em;
    float: right;
    text-align: left;
    width: 50%;
    padding-left: 1.5rem;
}
  
.entry  .year {
      float: left;
      width: 50%;
      padding: 10px;
      text-align: right;
      position: relative;

      font-size: 1rem;
}

/*Linea centrale*/
.timeline:before {
    content: '';
    position: absolute;
    
    width: 1.5px;
    background: #31b5bd;

    top: 4rem;
    left:calc(50%); 
    bottom: 10rem;
}

/*spazio sotto*/
.timeline:after {
    content: "";
    display: table;
    clear: both;
} 


/*Trattini accanto alle date*/
.entry .year:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1.5px;
    background-color: #31b5bd;
    top: 50%;
    right: -15px;
    z-index: 2;
}

/*Timeline dall'altro lato (sx)*/

.timeline .sx .body {
    float: left;
    padding-right: 30px;
    text-align: right;
}
  
.timeline .sx  .year {
      float: right;
      text-align: left;
}

.timeline .sx .year:before{
    left: -15px;
}

.timeline:last-child{
    margin: 3rem auto;
}